<div id="<%= dom_id reservation %>">
  <p>
    <strong>Price:</strong>
    <%= reservation.price %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= reservation.status %>
  </p>

  <p>
    <strong>Calicated:</strong>
    <%= reservation.calicated %>
  </p>

  <p>
    <strong>User:</strong>
    <%= reservation.User_id %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= reservation.Room_id %>
  </p>

</div>
