<div id="<%= dom_id room %>">
  <p>
    <strong>Name:</strong>
    <%= room.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= room.price %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= room.status %>
  </p>

  <p>
    <strong>Calification:</strong>
    <%= room.Calification_id %>
  </p>

  <p>
    <strong>Kinds:</strong>
    <%= room.Kinds_id %>
  </p>

  <p>
    <strong>Hotel:</strong>
    <%= room.Hotel_id %>
  </p>

</div>
